body {
    background: #202020;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #eeeeee;
    line-height: 1.5;
}

h1, h2 {
    font-family: 'Inter', sans-serif;
    color: #eeeeee;
    font-weight: 900;
}

h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    color: #eeeeee;
    font-weight: 700;
}

.section {
    padding: 50px 15vw;

}

.start-grid {
    /* make a grid with 2 collums and 1 row */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 50px;
}

.grid {
    display: grid;
    /* make a grid with 3 columns */
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.grid>div>img {
    width: 100%;
    height: auto;
}

p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

.p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #eeeeee;
}

.round {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.footer {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

dd {
    margin-left: 0;
    margin-right: 0;
}